.daprods-button-primary {
	background: #674399 !important;
	border-color: #674399 !important;
}

.daprods-button-danger {
	background: #c02929 !important;
	border-color: #c02929 !important;
}

.daprods-nav-tab-active {
	border-radius: 4px 4px 0 0;
	color: #53367c !important;
}

.daprods-button {
	color: #674399 !important;
	border-color: #674399 !important;
}

button:focus {
	border-color: #764fad !important;
	box-shadow: 0 0 0 1px #764fad !important;
	/* Only visible in Windows High Contrast mode */
	outline: 2px solid transparent;
}